<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container" id="navbarDiv">
    <a class="navbar-brand fs-2 pe-5" href="/">Big Events</a>
    <a id="navLinks" href="/">Home</a>
    <a id="navLinks" href="/create">Create an Event</a>
    <a id="navLinks" href="">Other</a>
  </div>
</nav>
